.BG{
	background-image: url(images/bg.jpg);
}

.semen{
	text-align: center;
	color: white;
}

.mega{
	color: orange;
}

.magaz{
	text-align: center;
	color: black;
}

.brrs{
	text-align: right;
}

.BG2{
	background-image: url(images/black-bg.jpg);
	height: 200px;
}

.h222{
	color: orange;
}

.h333{
	color: white;
}

.h321{
	text-align: center;
	height: auto;

}

.bludo{
	text-align: left;
	
}

.menu{
	background-image: url(images/menu-bg.jpg);

	text-align: center;
}

.h311{
	text-align: center;
	color: white;
}

.galery{
	text-align: center;
}

.povara{
	text-align: center;
}

